.app {
    display: flex;
    flex-direction: column;
    width: 60%;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

#root {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 100%;
}