.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vh;
    background-color: #333;
}

.navbar img {
    height: 8vh;
}

.linkbar {
    flex-grow: 1;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 3vh;
}

.linkbar a {
    color: white;
    text-decoration: none;
}

.linkbar a:hover {
    text-decoration: underline;
}