.report-form {
  width: 60%;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.location-selection {
    width: 100%;
    height: 5vh;

    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.location-selection div {
    font-size: 1.8vh;
    text-align: center;
    padding: 5px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-form input,
.report-form textarea {
  width: 100%;
  height: 10vh;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.timeDateSelection {
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin: 10px 0;
}

.timeDateSelection label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.timeDateSelection input[type="datetime-local"] {
  height: auto;
  padding: 8px;
}

.report-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  text-align: center;
}

.report-form button {
  padding: 10px 15px;
  background-color: #67b1ff86;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  margin-top: 30px;
}

.report-form button:hover {
  background-color: #5893d386;
}